
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chatbot/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Mining-GPT</title>
</head>
<body class="light-mode">
    <span id="openNav" onclick="openSidebar()"><i class="ri-menu-line"></i></span>
    <div id="nav">
        <div class="links">
            <a href="{% url 'index' %}">HOME</a>
            <a href="">HELP</a>
            <a href="">CHATS</a>
            <a><i class="ri-account-box-line"></i></a>
            <a href="#" id="dark-mode-toggle"><i class="ri-sun-line"></i></a>
        </div>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="#" onclick="closeSidebar()">&times;</a>
        <a href="#">Chat 1</a>
        <a href="#">Chat 2</a>
        <a href="#">Chat 3</a>
        <a href="#">Chat 4</a>
    </div>

    
    
    <div class="chat-container">

    </div>


    <!-- typing container -->
    <div>
        <form method="" class="typing-container" action="">
            {% csrf_token %}
        <div class="typing-content">
            <div class="typing-textarea">
                <textarea id="chat-input" name="query" placeholder="Enter any Query here..." required></textarea>
                <span id="send-btn" class="material-symbols-rounded"><button type="submit"><i class="ri-send-plane-2-fill"></i></button></span>

            </div>

        </div>
    </form>
        
    </div>


</body>
</html>

<script>
//sidebar
function openSidebar() {
        document.getElementById("mySidebar").style.width = "250px";
    }

function closeSidebar() {
    document.getElementById("mySidebar").style.width = "0";
}


// for chat-continous
const typingForm = document.querySelector('.typing-container')
const submitBtn = document.querySelector('submitBtn')
const chatInput = document.getElementById('chat-input')
const chat = document.querySelector('.chat-container')


typingForm.addEventListener('submit', (event) => {
    event.preventDefault();
    
    const question = chatInput.value.trim();
    if (question.length === 0){
        return 0;
    }

    const chatItem = document.createElement('div');
    chatItem.classList.add('question', 'sent');
    chatItem.innerHTML = `
    <div class="chat outgoing">
        <div class="chat-content">
            <div class="chat_details">
                <i class="ri-user-4-fill"></i>
                <p>${question}</p>
                
                </div>
                </div>
                </div>
                `;
                
    console.log(chatItem)
    console.log(chat)
    chat.appendChild(chatItem);
    chatInput.value = ''

    
    fetch('query', {
        method: 'POST',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        body: new URLSearchParams({
            'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
            'question': question
        })
    })
        .then(response => response.json())
        .then(data => {
            const answer = data.response;
            const chatItem = document.createElement('div');
            chatItem.classList.add('answer', 'received');
            chatItem.innerHTML=`
            <div class="chat incoming">
            <div class="chat-content">
                <div class="chat_details" >
                <i class="ri-robot-2-line"></i>
                    

                    <p>${answer}</p>
                </div>
                <span class="material-symbols-rounded"><i class="ri-file-copy-line"></i></span>
            </div>
        </div>`;

            chat.appendChild(chatItem);
        });

    });

</script> 
