{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'chatbot/css/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Mining-GPT</title>
</head> 
<body class="light-mode">

    <span id="openNav" onclick="openSidebar()"><i class="ri-menu-line"></i></span>
        <div id="nav">
            <div class="links">
                <a href="{% url 'index' %}">HOME</a>
                <a href="">HELP</a>
                <a href="{%url 'get_query' %}">CHAT</a>
                <a><i class="ri-account-box-line"></i></a>
                <a href="#" id="dark-mode-toggle"><i class="ri-sun-line"></i></a>
            </div>
        </div>
        {% if user.is_authenticated%}
    
        <div id="mySidebar" class="sidebar">
            <a href="#" onclick="closeSidebar()">&times;</a>
            <a href="#">Chat 1</a>
            <a href="#">Chat 2</a>
            <a href="#">Chat 3</a>
            <a href="#">Chat 4</a>
        </div>
        {%endif%}

        <div class="home-question">
            <span><i class="ri-user-4-fill"></i></span>
            <span><p class="home-h2">About?</p></span>
        </div>

        <div class="home-text">
            <span> <i class="ri-robot-2-line"></i></span>
            <span>
            <h1 class="home-h1">Mining-GPT</h1>
            <h2 class="home-h2">A Chatbot for the Mining industry.</h2>
            <p class="home-p">Have a question in your mind about the legeslation related to the mining industry?<br>Our chatbot has the perfect answer you are looking for.</p>
            <br>
            <p>Have Just ask.</p>
            <button><a href="{% url 'logout' %}">Login</a></button>
            <button><a href="{% url 'signup' %}">SignUp</a></button>
            </span>
        </div>

  
    
    </div>
    

</body>
</html>

<script>
    //sidebar
    function openSidebar() {
            document.getElementById("mySidebar").style.width = "250px";
        }
    
    function closeSidebar() {
        document.getElementById("mySidebar").style.width = "0";
    }
</script>    