@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --text-color: white;
    --icon-color: rgb(32, 32, 32);
    --icon-hover-bg: rgb(57, 57, 57);
    --placeholder-color: rgb(14, 14, 14);
    --chat-color: rgb(3, 3, 3);
    --incoming-chat-bg: rgb(255, 255, 255); 
    /* --outgoing-chat-bg: #959595; */
    /* --outgoing-chat-border: rgb(0, 0, 0);
    --incoming-chat-border: grey;
    */
}
body{
    /* background: rgba(255, 255, 255, 0.763); */
    /* overflow: hidden; */
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#nav{
    height: 50px;
    display: flex;
    justify-content:end;
    align-items: center;
    background-color:rgb(4, 74, 179);
    color: white;
    padding: 0px 20px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px 1px rgba(41, 41, 41, 0.425);
}
/* #nav .name h1{
    font-family: 'Press Start 2P', cursive
    font-size:11px;
    padding-left: 25px;
} */
#nav a{
    text-decoration: none;
    color: white;
    padding: 3px;
    font-size: 11px;
}
#nav a:hover{
    text-decoration: none;
    color: #ffac3f8a;
    padding: 5px;
    font-size: 13px;
}
#nav i{
    font-size: 15px;
}
#nav i:hover{
    font-size: 18px;
}

.chat-container{
    /* height: fit-content; */
    max-height: 100vh;
    padding-bottom: 145px;
    margin-right: 5%;
    margin-left: 5%;
}
/* :where(.chat-container, textarea)::-webkit-scrollbar{
    width: 10px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-track{

    box-shadow: inset 0 0 10px grey; 
    background-color: #494949;
    border-radius: 10px;
}
:where(.chat-container, textarea)::-webkit-scrollbar-thumb{
    background-color: #aeaeae;
    border-radius: 5px;
    height: 15px;
} */

.chat-container .chat{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    color: var(--chat-color);
}

.chat-container .chat.outgoing{
    border-radius: 4px;
}
.chat-container .chat.incoming{
    background: var(--incoming-chat-bg);
    border-radius: 10px;
}

.chat .chat-content{
    display: flex;
    max-width: 1200px;
    width: 80%;
    align-items: flex-start;
    justify-content: space-between;
}
.chat .chat-content span{
    font-size: 20px;
    color: var(--icon-color);
    visibility: hidden;
}
.chat:hover .chat-content span{
    visibility: visible;
}

.chat .chat_details{
    display: flex;
    align-items: center;
}
.chat .chat_details img{
    width: 30px;
    height: 30px;
    align-self: flex-start;
    object-fit: cover;
    border-radius: 50%;
}
.chat .chat_details p{
    padding: 0 5px 0 15px;
    font-size: 17px;
    white-space: pre-wrap;
}
span i{
    user-select: none;
    cursor: pointer;
}
/* .typing-animation{
    display: flex;
    padding-left: 55px;
}
.typing-animation .typing-dot{
    height: 7px;
    width: 7px;
    opacity: 0.7;
    margin: 0 3px;
    border-radius: 50%;
    background: var(--text-color);
    animation: animate 0.5s ease-in-out infinite;
}
@keyframes animate {
    0%, 50%{
        transform: translateY(0px);
    }
    22%{
        opacity: 0.4;
        transform: translateY(-6px);
    }
    50%{
        opacity: 0.2;
    }
} */


.typing-container, form{
    height: 100px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    padding: 0px 0px;
    justify-content: center;
    align-items: center;
    background: rgb(4, 74, 179);
    box-shadow: 1px 1px 15px 1px rgba(41, 41, 41, 0.425);
    
} 
.typing-container .typing-content{
    /* max-width: 950px; */
    width: 85%;
    display: flex;
    align-items: flex-end;
}
.typing-content .typing-textarea{
    width: 100%;
    display: flex;
    position: relative;
}
.typing-textarea textarea{
    width: 100%;
    height: 55px;
    border: none;
    resize: none;
    color: black;
    background: var(--text-color);
    outline: 1px solid var(--incoming-chat-border);
    border-radius: 10px;
    font-size: 15px;
    text-align: start;
    display: flex;
    padding: 15px 45px 15px 20px;
}
.typing-textarea textarea::placeholder{
    color: #3e3e3e;
}
.typing-textarea span{
    /* overflow: hidden; */
    position: absolute;
    right: 0;
    bottom: 1.5px;
    /* visibility: hidden; */
    text-shadow: 1px 0 #000, 0 1px #000, 1px 0 #000, 0 1px #000;
    margin-left: 10px;
    height: 30px;
}
/* .typing-textarea textarea:valid ~ span{
    visibility: visible;
} */

.typing-textarea span i{
    /* overflow: hidden; */
    font-size: 20px;
    color: white;
    transition: all 0.5s;
    
}
.typing-textarea span i:hover{
    font-size: 30px;
    color: #458ef7;
    transform: rotate(-90deg);
}

.typing-content span{
    height: 50px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-color);
}
/* .typing-controls span{
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: rgb(96, 0, 0);
    background-color: var(--incoming-chat-bg);
    /* border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 40px;
    transition: all 0.3s;
}
.typing-controls:hover span{
    text-shadow: 0 0 3px #000;
    transform: rotate(180deg);
    font-size: 25px;
    background-color: rgb(39, 39, 39);
    color: rgb(185, 2, 2);
    border-radius: 50%;
    margin-left: 40px;
}

.typing-container .proud{
    position: absolute;
    margin-bottom: -120px;
    margin-right: auto;
    font-size: 13px;
    font-style: italic;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}
.typing-container .proud img{
    width: 20px;
    height: 20px;
} */

.dark-mode {
    background: #ffffff; /* Dark background color */
    color: #000000; /* Light text color */
    
}

/* sidebar */
 /* CSS for the sidebar */
 .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgb(4, 74, 179);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidebar a {
    padding: 5px 25px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

/* CSS for the button to open the sidebar */
#openNav {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 30px;
}

#openNav > i{
    color: var(--text-color);
    font-size: 25px;
    padding-top: 2px;

}

.home-question{
    display: flex;
    align-items: center;
    margin: 0% 7%;
    padding: 0px 40px;
}

.home-question > span{
    padding-right: 15px;
    font-size: 20px;
}

.home-text{
    display: flex;
    margin: 0% 7%;
    padding: 45px 40px;
    background-color: white;
    border-radius: 10px;
}

.home-text > span {
    padding-right: 15px;
    font-size: 20px;
}

.home-h1{
    line-height: 4vh;
    font-family: Google Sans,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    font-size: 30px;
    font-weight: 700;
}

.home-h2{
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 32px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.home-p{
    font-size: 20px;
} 

.home-text button{
    background: rgb(255, 255, 255);
    border: 0.883005px solid rgb(247 87 0);
    box-shadow: rgba(0, 0, 0, 0.01) 0px 32px 13px, rgba(0, 0, 0, 0.05) 0px 18px 11px, rgba(0, 0, 0, 0.09) 0px 8px 8px, rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 0px 0px;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    font-weight: 600;
    margin-top: 15px;
}

.home-text button > a{
    text-decoration: none;
    color: black;
}