{% extends 'users/base.html' %}


{% block body %}

<div class="flex flex-col items-center font-mono text-xl font-bold m-8">

    <h2 class="text-3xl m-5 mb-4">Password reset sent</h2>
    <hr class="mb-4 w-[100vw]">
    <p class="text-xs sm:text-xl text-center mb-4">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder..</p>

</div>

{% endblock %}